.mat-mdc-card {
  width: 200px;
  margin: 0 auto;
}
.description {
  // border: 1px solid blue;
  height: 40px;
  overflow: hidden;
}
.hovered {
  border: 1px solid black;
}
.image {
  display: inline;
  height: 100%;
  max-width: 100%;
}
.img-container {
  height: 200px;
  margin: 0 auto;
}
h4 {
  margin: 20px 0 20px 0;
}
