<div class="container">
  <mat-card
    (mouseenter)="handleHover($event)"
    (mouseleave)="handleHover($event)"
  >
    <div class="img-container">
      <img
        class="image"
        mat-card-image
        [src]="product.pictures[0]"
        alt="picture"
      />
    </div>
    <mat-card-content>
      <span class="card-header">{{ product.name }}</span>
        
     
      <p class="description">
        {{ product.description }}
      </p>
      <span>Price: {{ product.price }}</span
      ><br />
      <span> <a href="/details/{{ index }}">More details</a></span>
    </mat-card-content>
  </mat-card>
</div>
