.container {
  margin: 10px;
}
.mat-mdc-card {
  padding: 5px;
  width: 200px;
  margin: 0 auto;
}
.card-header{
  display: block;
  font-size: 1.1rem;
  height: 2rem;
  align-content: center;
  //border: 1px solid red;
  font-weight: 500;
  padding: 10px 0 10px 0;
  overflow: hidden;
}
.description {
  // border: 1px solid blue;
  height: 40px;
  overflow: hidden;
}
.hovered {
  border: 1px solid black;
}
.image {
  display: inline;
  height: 100%;
  max-width: 100%;
}
.img-container {
  height: 200px;
  margin: 0 auto;
}
// h4 {
//   margin: 20px 0 20px 0;
// }
